<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.assessment.assessment1.swagerpetapitest.ExtentReportsPetSwagger"/>
    </listeners>

    <test verbose="2" preserve-order="true"
          name="assessment">
        <classes>
            <class name="org.assessment.assessment1.swagerpetapitest.Scenario1">
                <methods>
                    <include name="UploadImage"/>
                    <include name="PostPetData"/>
                    <include name="GetPetById"/>
                    <include name="GetPetByStatus"/>
                </methods>
            </class>
            <class name="org.assessment.assessment1.swagerpetapitest.Scenario2">
                <methods>
                    <include name="PostPetData"/>
                    <include name="GetPetById"/>
                    <include name="GetPetByStatus"/>
                    <include name="DeletePet"/>
                </methods>
            </class>
            <class name="org.assessment.assessment1.swagerpetapitest.Scenario3">
                <methods>
                    <include name="UploadImage"/>
                    <include name="UpdatePetData"/>
                    <include name="DeletePet"/>
                </methods>
            </class>
            <class name="org.assessment.assessment2.apicall.ApiCall">
                <methods>
                    <include name="readExcel"/>
                    <include name="callApi"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>